@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: url('/images/snowymountains.jpg') no-repeat center center fixed;
  min-height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  scroll-behavior: smooth;
}


.list {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}


.completed {
  text-decoration: line-through;
}

@layer base {
  

  body {
    @apply bg-gray-200 text-black tracking-wide 
    
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold
  }

  h1 {
    @apply text-4xl sm:text-5xl md:text-6xl
  }

  h2{
    @apply text-3xl sm:text-4xl


  }

  li{

    @apply cursor-pointer

  }

 

}